# Python Basics

In this notebook we will be discussing basics of python like strings, Data types, Expressions, and variables.

## Print string in output
So here is the first line of code when ever you start learning programming or get hands on new programming language

In [4]:
# This line of code print quoted text on screen
print("Hello World!") 

# Singe quotes can be used
print('Hello World with single quotes!')

Hello World!
Hello World with single quotes!

### Comment in python

Use '#' in start of line to comment text.
Commenting in coding is your best friend .
It will help you when you forget what that line of code doing?

In [7]:
# This line is commented

print('Print this line.') # This text also commented

Print this line.

## Data types in python
### What is data type?
Data type is the object type when you write text in python you are writing string of characters so for text 'string' data type assigned same for number integer assigned and for real numbers float data type.

### Examples

In [9]:
# Interger

123

123

In [10]:
# Float

12.36

12.36

In [11]:
# String

"Hello"

'Hello'

How to find the type of an expression?

Built in type() function can be used it returns integer as int, floats as float, and string as str.

In [12]:
# Find type of 123
type(123)

int

In [13]:
# Find type of 12.36
type(12.36)

float

In [14]:
# Find type of 'Hello'
type('Hello')

str

## Integers

Integers are signed and unsigned numbers e.g.(-2,-1,0,1,2)

In [15]:
# Type of -1, 1, 0 

print(type(-1))
print(type(1))
print(type(0))

<class 'int'>
<class 'int'>
<class 'int'>

## Floats
Floats are signed and unsigned real numbers e.g.(-1.1, -1.0, 1.0, 1.1)

In [17]:
# Type of -1.1, -1.0, 1.1 

print(type(-1.1))
print(type(-1.0))
print(type(1.0))
print(type(1.1))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

## Converting an object type in python
Converting the type on an object form one form to another in python called typecasting. For example we want to convert an integer value to float e.g.(2 to 2.0).

### Integer to float
We use a built-in function float(number).

In [23]:
print('Type of 123 before conversion')
print(type(123)) # type of 123

print('Type of 123 after conversion')
print(type(float(123))) # value converted to float
print(float(123))

Type of 123 before conversion
<class 'int'>
Type of 123 after conversion
<class 'float'>
123.0

Same way we can convert integer to float but on some cost of data lost e.g.(2.1 will be converted to 2).

### Float to integer
We use a built-n function int(number).

In [25]:
print('Type of 12.3 before conversion')
print(type(12.3)) # tpye of 12.3

print('Type of 12.3 after conversion')
print(type(int(12.3))) # value converted to integer

print(int(12.3))

Type of 12.3 before conversion
<class 'float'>
Type of 12.3 after conversion
<class 'int'>
12

## String to integer or float
Yess we can also convert string to integer and float but only if the string contain numaric value.

### String to float and integer

In [30]:
print('123')
print(type('123'))
print(int('123'))
print(type(int('123')))
print(float('123'))
print(type(float('123')))

123
<class 'str'>
123
<class 'int'>
123.0
<class 'float'>

In the same way we can convert the numbers to string

### Float and integer to string

In [31]:
print(type(123))
print(str(123))
print(type(str(123)))
print(type(12.36))
print(str(12.36))
print(type(str(12.36)))

<class 'int'>
123
<class 'str'>
<class 'float'>
12.36
<class 'str'>

## Boolen data type in python
Boolen data type returns True of False. conversion of boolen to int is 1 for ture and 0 for false.

In [8]:
type(True)

bool

In [9]:
int(True)

1

In [10]:
bool(1)

True

In [11]:
bool(0)

False

In [12]:
int(False)

0

## Expressions and Variable

In math expression is a statement contains two or more numbers or variable (variable are used to store data more information comming next) with an arithmatic operation ('+', '-', '*', '/' these are common arithmatic operations).

### Expression

In [21]:
# Addition operation
12 + 34

46

In [14]:
# Subtraction operation
12 - 34

-22

In [15]:
# Multiplication operation
12 * 34

408

In [17]:
# Division operation
34 / 12

2.8333333333333335

In [19]:
# There is also an integer division it rounded tothe nearest integer
34 // 12

2

### Variables

Variables are names to store values (e.g. x = 5). There are some variable name conventions, name starts with letter or underscore, must not start with number, numbers can come after letter, variable names are case senetive. Mostly underscore or capital letter for starting of other word.

In [27]:
x = 40 + 23 + 22 + 5
x

90

In [28]:
y = 20
y

20

In [26]:
z = x + y
z

110

As python code is executed by interpreter. So values of variables can be changed on next line. Example shown below.

In [31]:
x = 20
print(x)

x = 40
print(x)

20
40

Basis of python wrapped up here. In the next notebook will be discussing python data structure.